.dropzone {
    text-align: center;
    padding: 1em;
    background-repeat: no-repeat;
    background-image: url(../images/domokun.png);
    background-position: center 6em;
    height: 600px;
    font-size: 2em;

}
.dropzone blockquote {
    position: relative;
    padding: 15px;
    margin: 1em 0 2em;
    color: #fff;
    background: #075698;
    border-radius: 10px;
    font-weight: bold;
}
.dropzone blockquote:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #075698 transparent;
    display: block;
    width: 0;
}
input[type=text] {
    width: 90%;
}
input[type=file] {
    padding: 0 0.5em;
    box-shadow: inset 0 0 5px #ccc;
    border-radius: 10px;
    display: inline-block;
}
input[type=file] {
    margin-top: 350px;
}

.body {
    min-width: 100%;
    min-height: 100%;
}

.results {
    margin: auto;
    width: 100%;
}
.results .test.status-passed {
    background-color: #32cd32;
}
.results .test.status-missing {
    background-color: #b8b8b8;
}
.results .test.status-failed {
    background-color: #ff6347;
}
.results .test span {
    min-width: 0.5em;
    min-height: 1.5em;
    display: block;
}
.results .hostname {
    font-weight: bold;
    padding: 0 1em;
    min-height: 1.5em;
    text-align: right;
}
.results .rolesets td {
    font-weight: bold;
    padding-left: 0.8em;
    padding-right: 0.4em;
}
.results .specs {
    font-style: italic;
    text-align: center;
    font-size: small;
}
.results .specs td {
    padding: 0 0.3em;
}

.results tr.rolesets td,
.results tr.specs td {
    border-right: black solid 2px;
}
.results tr.rolesets td:first-child,
.results tr.specs td:first-child {
    border-right: none;
}
.results td.hostname {
    border-left: black solid 4px;
}
.results tr.specs {
    border-bottom: black solid 2px;
}
.results .test {
    border: grey solid 1px;
}
.results .rolesets td:last-child, .results .specs td:last-child {
    border-right: none;
}

.outer-results { position: relative }
.inner-results {
    overflow-x: overlay;
    overflow-y: visible;
    margin-left: 20em;
    font-weight: bold;
    padding-bottom: 2em;
}
.results tr td:first-child {
    position: absolute;
    left: 0;
    width: 20em;
    font-weight: bold;
    box-sizing: border-box;
}
.results {
    font-weight: normal;
}

.wider-modal {
    width: 900px;
    margin-left: -450px;
}
.wider-modal .modal-body {
    max-height: 600px;
}
dd, dt {
    float: left;
}
dd + dt { clear: left; }
dd.status-failed {
    color: #ff6347;
    font-weight: bold;
}
dd.status-missing {
    color: #b8b8b8;
    font-weight: bold;
}
dd.status-passed {
    color: #32cd32;
    font-weight: bold;
}
.exception {
    clear: both;
    padding-top: 1em;
}
.exception h4 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    white-space: pre;
}
.exception span {
    font-family: monospace;
    white-space: nowrap;
    display: block;
    font-size: 13px;
}

.prettyprint {
    clear: both;
    margin: 1em 0;
}
.prettyprint ol {
    padding-left: 2em;
}
/* Number for all lines */
.prettyprint ol li {
    list-style-type: decimal;
}
.prettyprint ol li.highlighted {
    color: #b94a48;
    background-color: #f2dede;
}

.browser {
    width: 90%;
    margin: 0 auto;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.browser ul a {
    display: inline-block;
    vertical-align: top;
}
